# Claves privadas de los 4 nodos validadores Besu
# Encuéntralas en besu/QBFT-Network/networkFiles/nodeX/key
BESU_PRIVATE_KEY_1=0xTU_CLAVE_NODO_1
BESU_PRIVATE_KEY_2=0xTU_CLAVE_NODO_2
BESU_PRIVATE_KEY_3=0xTU_CLAVE_NODO_3
BESU_PRIVATE_KEY_4=0xTU_CLAVE_NODO_4
BESU_RPC_URL=http://localhost:8545